*{
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica,sans-serif;
   box-sizing: border-box;
}

header{
    display: flex;
    background-color:#ffffff;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b6b1b1;
}
.logo_image{
    height:45px;
}
.logo{
    margin-left: 4%;
}
.action_bar{
   margin-right: 4%;
}
.nav_tag{
    display: flex;
    min-width: 500px;
    justify-content: space-evenly;
}
.nav_tag a{
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 30px 0;
    border-bottom: #ffffff;
    border-bottom: 4px;
}
.nav_tag a:hover{
    /* border-bottom: 4px solid #ff3f6c; */
    box-shadow: inset 0 -4px 0 0 #ff3f6c;
}
.nav_tag a sup{
    color:#ff3f6c;
    font: 5px;
    transform: scale(0.8);
    transform-origin: left top;
    position: absolute;
}

.search_bar{
   height: 40px;
   min-width: 200px;
   width: 30%;
   align-items: center;
   display: flex;
}
.search_icon{
    box-sizing: content-box;
    height: 20px;
    padding: 10px;
    background-color: #f5f5f6;
    color: #282c3f;
    font-weight: 300px;
    border-radius: 4px 0px 0px 4px;
}
.search_input{
    color: #696e79;
   background-color: #f5f5f6;
   flex-grow: 1;
   height: 40px;
   border: none;
   border-radius: 0px 4px 4px 0px;
}
.action_bar{
    display: flex;
    min-width: 200px;
    justify-content: space-evenly;
}
.action_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* main content */
.banner_container{
    margin: 40px 0px;
}
.main_banner{
    width: 100%;
}
.category_heading{
    text-transform: uppercase;
    color: #3c4152;
    letter-spacing: 0.15 em;
    font-size: 1.8em;
    margin: 50px 0px 10px 30px;
    max-height: 5em;
    font-weight: 700;
}

.category_item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right:0px;
}

.sale_items{
    width: 250px;
}

.footer_container{
    padding: 30px 0px 40px 0px;
    background:#FAFBFC;
    display: flex;
    justify-content: space-evenly;
}
.footer_column{
    display: flex;
    flex-direction: column;
}
.footer_container a{
    color: #696b79;
    font-size: 15px;
    text-decoration:none ;
    padding-bottom: 5px;
}
.footer_column h3{
    color: 282c3f;
    font-size: 14px;
    margin-bottom: 25px;
}
.copyright{
    color: #94969f;
    text-align: end;
    padding: 15px;
}
